.advantages__wrapper {
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 31px;

  &::after {
    content: "";
    background-image: url("../img/mask/zigzag-line-mobile.svg");
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 6px;
  }

  @media (min-width: @tablet-width) {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 72px;
    padding-bottom: 83px;
    border-top: none;

    &::after {
      content: "";
      background-image: url("../img/mask/zigzag-line-desktop.svg");
      background-repeat: repeat-x;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 17px;
    }
  }
}

.advantages__title {
  .font-size(25px, 700, 30px);

  @media (min-width: @tablet-width) {
    .font-size(43px, 700, 50px);
  }
}

.advantages__list {
  @media (min-width: @tablet-width) {
    column-count: 2;
    column-rule: none;
    column-gap: 0;
  }
}

.advantages__item {
  padding-top: 83px;
  .font-size(17px, 700, 20px);

  @media (min-width: @tablet-width) {
    .font-size(20px, 700, 22px);
    width: 90%;
    padding-top: 110px;

    &:nth-child(3n+1) {
      padding-top: 97px;
    }
  }
}
