.advantages {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 31px;
  border-top: 2px solid @nav-link-border-color;
}

.advantages__title {
  .font-size(25px, 700, 30px);
}

.advantages__item {
  padding-top: 83px;
  .font-size(17px, 700, 20px);
}
