.button {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 2px solid @button-color;
  background-color: inherit;
}

.button--reviews {
  @media (min-width: @tablet-width) {
    margin-bottom: auto;
  }
}
