.contacts {
  position: relative;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    .wrapper-padding-desktop();
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 71px;
    padding-bottom: 104px;
  }

  &::after {
    .after-zigzag-line();
  }
}

.contacts__wrapper {
  position: relative;
  .wrapper-padding();
}

.contacts__title {
  position: relative;
  .font-size(18px, 700, 30px);
  padding-top: 44px;
  padding-bottom: 28px;

  @media (min-width: @tablet-width) {
    .font-size(43px, 700, 50px);
    padding-top: 86px;
    padding-bottom: 49px;

    &::after {
      content: "";
      position: absolute;
      bottom: 42px;
      right: 3px;
      width: 47px;
      height: 81px;
      background-image: url("../img/index/contacts/flag.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: @desktop-width) {
    .font-size(53px, 700, 57px);
    position: relative;
    padding-left: 124px;
    padding-bottom: 35px;
    padding-top: 102px;

    &::after {
      position: absolute;
      left: 13px;
      bottom: 29px;
    }
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: 76px 1fr;
  margin: 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 76px 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 76px 1fr;
    padding-left: 125px;
  }
}

.contacts__item {
  margin: 0;
  padding-bottom: 30px;
  .font-size(14px, 400, 30px);

  @media (min-width: @tablet-width) {
    .font-size(17px, 400, 30px);
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 31px;
  }
}

.contacts__map {
  position: relative;
  text-align: center;
  padding-top: 32px;

  @media (min-width: @tablet-width) {
    padding-top: 19px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 24px;
  }
}

.contacts__map-image {
  width: 100%;
}

.contacts__map-pin {
  position: absolute;
  top: 47%;
  left: 55%;
  transform: translate(-56%, -53%);

  @media (min-width: @tablet-width) {
    top: 44%;
    left: 52%;
    transform: translate(-54%, -52%);
  }

  @media (min-width: @desktop-width) {
    top: 46%;
    transform: translate(-53%, -52%);
  }
}

.contacts__email-link {
  .link-style-reset();
  padding-bottom: 3px;
  border-bottom: 1px solid @basic-green--lighter;

  @media (min-width: @tablet-width) {
    padding-bottom: 4px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 8px;
  }
}

.contacts__wrapper--bottom {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.contacts__feedback-link {
  .font-size-link();
  .button-text-style();
  margin-top: 38px;
  margin-bottom: 39px;
  display: block;

  @media (min-width: @tablet-width) {
    .font-size(17px, 700, 20px);
    margin-top: 52px;
    margin-bottom: 57px;
    width: 226px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 55px;
  }
}
