.main-nav {
  background-color: @basic-white;
}

.main-nav__item {
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 76px;
  border-bottom: 1px solid @nav-link-border-color;
}

.main-nav__item:first-child {
  border-top: 1px solid @nav-link-border-color;
}

.main-nav__item-text {
  .font-size(17px, 700, 24px);
}

.main-nav__item-link {
  .link-style-reset();
}
