.main-catalog {
  background-image: url("/img/background/hero-mobile.png");
  background-position: 50% -15%;
  background-repeat: no-repeat;
  background-size: auto;
}

.main-catalog__slogan {
  .font-size(27px, 700, 30px);
  text-align: center;
  margin: 0 auto;
  width: 260px;
  padding-bottom: 120px;
  padding-top: 73px;
}

.main-catalog__item-link {
  display: block;
  height: 79px;
  padding-top: 24px;
  padding-left: 30px;
  padding-right: 160px;
  text-decoration: none;
  color: @basic-white;
  .font-size(19px, 700, 24px);
}

.main-catalog__item--green {
  background-color: @basic-green;
}

.main-catalog__item--darker-green {
  background-color: @basic-green--darker;
}
