.main-catalog__slogan {
  .font-size(27px, 700, 30px);
  text-align: center;
  margin: 0 auto;
  width: 260px;
  padding-bottom: 120px;
  padding-top: 73px;
}

.main-catalog__item-link {
  display: block;
  text-decoration: none;
  height: 79px;
  padding-top: 24px;
  padding-left: 30px;
  padding-right: 160px;
}

.main-catalog__item-text {
  .font-size(19px, 700, 24px);
  color: @basic-white;
}

.main-catalog__item--green {
  background-color: @basic-green;
}

.main-catalog__item--darker-green {
  background-color: @darker-basic-green;
}
