.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  display: none;
}

.modal__container {
  position: fixed;
  min-width: 260px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 46px;
  padding-top: 28px;
  text-align: center;
  background-color: @basic-white;
  box-shadow: 0px 5px 10px rgba(0, 1, 1, 0.25);
}

.modal__title {
  .font-size(25px, 700, 30px);
  margin-bottom: 14px;
}

.modal__description {
  .font-size(15px, 400, 30px);
  margin-bottom: 31px;
}

.modal__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal__size-select {
  width: 78px;
  height: 48px;
  margin-bottom: 31px;
  border: 2px solid  rgba(0, 1, 1, 0.25);
}
.modal__size-select:hover {
  border: 2px solid red;
}
input[type="radio"]:checked {
  background-color: salmon;
}

input[type="radio"]:checked ~ .modal__size-select {
  border: 2px solid red;
}

.modal__button {
  .font-size(17px, 700, 16px);
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  text-transform: uppercase;
  background-color: @basic-green;
  border: @basic-green;
  color: @basic-white;
}
