.page-footer {
  background-color: @footer-background-color;
}

.page-footer__wrapper {
  display: grid;
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.page-footer__social-list {
  padding-bottom: 27px;
  border-bottom: 1px solid @footer-border-color;
  text-align: center;
}

.page-footer__social-link {
  .link-style-reset();
}

.page-footer__copyright {
  padding-top: 29px;
}

.page-footer__copyright-text {
  .font-size(19px, 700, 18px);
}

.page-footer__copyright-link {
  .link-style-reset();
}
