.promo-video {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.promo-video__title {
  position: relative;
  .font-size(17px, 700, 24px);
  padding-top: 22px;
  padding-left: 90px;
  padding-bottom: 24px;
  padding-right: 12px;
  border: 1px solid @basic-white--darcker;

  @media (min-width: @tablet-width) {
    .font-size(20px, 700, 24px);
    padding-top: 40px;
    padding-left: 65px;
    padding-right: 0;
    padding-bottom: 24px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 95px;
    padding-left: 0;
    padding-bottom: 27px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 22px;
    background-image: url("../img/catalog/promo-video/video.svg");
    background-repeat: no-repeat;
    left: 33px;
    top: 48%;
    transform: translate(0, -50%);

    @media (min-width: @tablet-width) {
      left: 0;
      top: 55%;
    }

    @media (min-width: @desktop-width) {
      top: 33%;
    }
  }
}

.promo-video__title--tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.promo-video__title--mobile {
  height: 94px;
  padding: 0;

  &::after {
    content: "Процесс производства";
    position: absolute;
    width: 50%;
    top: 50%;
    left: 90px;
    transform: translate(0, -55%);
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.promo-video__content {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin-bottom: -3px;

  @media (min-width: @desktop-width) {
    min-width: 682px;
  }
}

.promo-video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: inherit;
}

.promo-video__description-box {
  padding-left: 33px;
  padding-right: 32px;
  padding-bottom: 33px;
  border: 1px solid @basic-white--darcker;

  @media (min-width: @tablet-width) {
    padding-left: 41px;
    padding-right: 41px;
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    padding-left: 78px;
    padding-right: 56px;
    padding-bottom: 59px;
  }
}

.promo-video__description {
  .font-size(13px, 400, 24px);
  padding-top: 34px;
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    .font-size(15px, 400, 30px);
    padding-top: 0;
    padding-bottom: 41px;
  }
}

.promo-video__link {
  .link-style-reset();
  .font-size(18px, 700, 16px);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    .font-size(17px, 700, 16px);
  }

  @media (min-width: @desktop-width) {
    margin-top: auto;
  }
}

/*
@media (min-width: @tablet-width) {
}

@media (min-width: @desktop-width) {
}
*/
