.reviews__wrapper {
  .wrapper-padding();
  padding-top: 58px;
  padding-bottom: 46px;

  @media (min-width: @tablet-width) {
    min-height: 360px;
    padding-top: 82px;
    padding-bottom: 45px;
    margin-bottom: 36px;
    display: grid;
    grid-template-columns: 1fr 175px;
    background-image: url("../img/index/review/review.jpg");
    background-repeat: no-repeat;
    background-size: auto 457px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/review/review@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-position: 50px;
    padding-top: 60px;
    margin-bottom: 63px;
  }
}

.reviews__title {
  .font-size(25px, 700, 30px);

  @media (min-width: @tablet-width) {
    .font-size(43px, 700, 50px);
  }

  @media (min-width: @desktop-width) {
    .font-size(53px, 700, 57px);
    padding-left: 175px;
    padding-top: 22px;
  }
}

.reviews__list {
  @media (min-width: @tablet-width) {
    order: 3;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
  }
}

.reviews__description {
  padding-top: 14px;
  padding-bottom: 33px;
  .font-size(15px, 400, 30px);
  color: @basic-black--light;

  @media (min-width: @tablet-width) {
    .font-size(17px, 400, 30px);
    padding-bottom: 61px;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 44px;
    padding-right: 61px;
  }
}

.reviews__user-name {
  .font-size(17px, 700, 24px);
  font-style: normal;

  @media (min-width: @tablet-width) {
    .font-size(18px, 700, 24px);
  }

  @media (min-width: @desktop-width) {
    .font-size(17px, 700, 24px);
  }
}

.reviews__user-contacts {
  .font-size(17px, 400, 24px);
  display: block;
  padding-top: 5px;

  @media (min-width: @desktop-width) {
    padding-bottom: 23px;
  }
}

.reviews__user-link {
  .link-style-reset();
}

.reviews__navigation {
  display: flex;
  margin-top: 30px;
  border: 1px solid @border-line-color;

  @media (min-width: @tablet-width) {
    order: 4;
    margin-top: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: none;
    padding-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 57px;
  }
}

.reviews__navigation-button {
  background-color: inherit;
  width: 50%;
  height: 52px;
  border: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__navigation-button:first-child {
  border-right: 1px solid @border-line-color;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.reviews__navigation-button--left {
  background-image: url("../img/index/review/huge-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.reviews__navigation-button--right {
  background-image: url("../img/index/review/huge-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.reviews__write-feedback-link {
  .font-size-link();
  .button-text-style();
  margin-top: 38px;

  @media (min-width: @tablet-width) {
    .font-size(17px, 700, 20px);
    order: 2;
    margin-top: -5px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 23px;
  }

  &:hover {
    color: @basic-white;
    background-color: @basic-black--light;
  }

  &:active {
    color: rgba(2550, 255, 255, 0.3);
  }
}
