.font-size (@size, @weight, @line-height) {
  font-size: @size;
  font-weight: @weight;
  line-height: @line-height;
}

.link-style-reset() {
  text-decoration: none;
  color: @basic-black;
}

.font-size-link() {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.button-text-style() {
  text-decoration: none;
  color: @basic-black;
  text-align: center;
  text-transform: uppercase;
}
