
@deafult-font: "Open Sans", "Arial", sans-serif;

// Colors
// Basic-colors
@basic-white: #FFFFFF;
@basic-black: #000000;
@basic-green: #63D1BB;
@darker-basic-green: #56C3B2;
@footer-background-color: #F1F1F1;

// Text colors

// border colors
@button-border-color: #444444;
@nav-link-border-color: #ECECEC;
@footer-border-color: #E5E5E5;
// link-background colors
